* {
  margin: 0;
  padding: 0;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  /* background: linear-gradient(180deg, rgb(30, 30, 30), rgb(0, 0, 0)); */
}

body {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: rgb(60, 60, 60); */

  background-color: rgba(23, 24, 26, 0.9);
}
.container {
  /* 16:7 ratio */
  /* box-shadow: 0px 0px 60px 10px rgb(252, 170, 115); */

  width: 377px;
  height: 670px;

  border: 3px solid rgb(23, 24, 26);
  background-color: rgb(23, 24, 26);

  display: flex;

  flex-direction: column;

  justify-self: center;
  align-items: center;

  justify-content: center;

  padding: 10px;
  padding-bottom: 20px;

  box-shadow: 0 0 90px 2px rgba(0, 0, 0, 0.377);
}

.numbers-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 10px;
}

.row {
  width: 377px;
  height: 67px;
  /* border: 3px solid red; */

  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: center;

  justify-content: space-evenely;

  gap: 20px;
}
#C > p,
#percent > p,
#sign > p,
#modulo > p {
  color: black;
}

#C,
#percent,
#sign,
#modulo {
  background-color: rgb(201, 200, 207);
  border: 2px solid rgb(201, 200, 207);
}

#plus,
#sub,
#divide,
#mult,
#eq {
  background-color: #ff9500;
  border: 2px solid rgb(255, 149, 0);
}

.number p,
.op p {
  color: white;
  font-weight: bold;

  font-size: 24px;

  pointer-events: none;
}

.number,
.op {
  width: 67px;
  height: 67px;
  border: 2px solid rgb(80, 80, 80);

  background-color: rgb(80, 80, 80);

  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#outcome-text {
  overflow: hidden;
  white-space: nowrap;
}

.outcome-container {
  width: 377px;
  height: 270px;

  /* border: 3px solid rgb(85, 232, 0); */
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  white-space: nowrap;
  align-items: center;
}

.previous {
  /* border: 3px solid rgb(105, 119, 119); */

  /* //377 */
  width: 377px;
  height: 67px;

  display: flex;
  /* background-color: rgb(73, 71, 84); */

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.outcome {
  /* border: 3px solid rgb(42, 74, 24); */
  /* background-color: rgb(73, 71, 84); */
  width: 377px;
  height: 120px;

  display: flex;

  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

div {
  border-radius: 20px;
}

span,
h2 {
  margin-left: auto;
  align-self: center;
  margin-right: 20px;
  margin-bottom: auto;
  margin-top: auto;

  font-weight: 50;
}

h2 {
  font-size: 24px;
  color: grey;
}

span {
  font-size: 96px;
  color: white;

  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
  overflow: hidden;
}

.outcome-text {
  align-self: center;
  justify-self: center;
}

.calculator {
  margin-right: 250px;
}

.alert-box {
  border: 3px solid rgb(255, 149, 0);
  margin-right: 100px;

  background-color: rgb(23, 24, 26);

  width: 190px;
  height: 220px;
  display: flex;
  flex-direction: column;

  gap: 10px;

  justify-content: space-around;

  border-radius: 10px;

  /* box-shadow: 0 0 20px 2px rgba(255, 149, 0, 0.377); */
}

#header-text {
  font-size: 20px;
  font-weight: 500;
  margin: 10px;
}
#header {
  flex: 0 0 0;

  min-height: 50px;

  border: 3px solid rgb(255, 149, 0);
  background-color: rgb(255, 149, 0);

  border-radius: 10px;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  color: white;
  color: white;
  font-weight: 1250;
}

.alert {
  /* border: 3px solid rgb(255, 149, 0); */

  flex: 1;

  background-color: rgb(23, 24, 26);

  width: 190px;
  height: 90px;

  align-self: center;
}

.number,
.op,
.alert-box,
.container {
  transition-duration: 0.4s;
}

.number:hover,
.op:hover {
  transform: scale(1.1);
}

.alert-box:hover,
.container:hover {
  transform: scale(1.02);
}

p {
  margin: 0px 10px;

  color: white;
  font-weight: 1250;
  font-size: 14px;
  align-self: center;
}
